@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'HKGrotesk-Regular', Arial, sans-serif;
}

html,
body {
	/* @apply overflow-hidden */
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to top, #187298, #8aa4fa);	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}