@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'HKGrotesk-Regular', Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	/* background: linear-gradient(rgb(18, 68, 125), rgb(47, 120, 203)); */
	background: url('../components/game-images/bg-company.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.h-title,
.h-title2 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
