@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: 'HKGrotesk-Regular';
	font-style: regular;
	font-weight: 400;
	src: url('/fonts/HKGrotesk-Regular.woff') format('woff');
	font-display: swap;
} */

/* ================================== SPACE GROTEST ==================================  */
/* Regular */
/* @font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
	font-display: swap;
} */

/* Light */
/* @font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf') format('truetype');
	font-display: swap;
} */

/* Medium */
/* @font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
	font-display: swap;
} */

/* SemiBold */
/* @font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf') format('truetype');
	font-display: swap;
} */

/* Bold */
/* @font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
	font-display: swap;
} */

/* Variable Font */
@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
	font-display: swap;
}
/* ================================== RALEWAY ==================================  */
/* Regular */
/* @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-display: swap;
} */

/* Light */
/* @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
	font-display: swap;
} */

/* Medium */
/* @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
	font-display: swap;
} */

/* SemiBold */
/* @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
	font-display: swap;
} */

/* Bold */
/* @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
	font-display: swap;
} */

/* Variable Font */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
	font-display: swap;
}

body {
	font-family: 'Space Grotesk', sans-serif;
}

h1 {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
}
h2 {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
}

p,
span,
a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400; /* Regular */
}

body {
	background: linear-gradient(to bottom, #0b002c 0%, rgb(0, 56, 120) 100%);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;

	/* , url('$lib/assets/images/bg_website_magicpattern.svg'); */
	/* url('$lib/assets/images/bg_website.webp'); */
	/* background-attachment: fixed; */
}

html {
	scroll-behavior: smooth;
}

.blurred-glass {
	/* background: rgba(255, 255, 255, 0.5); */
	/* -webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(25px); */
	border: 1px solid rgb(140, 140, 140);
}

.card4 {
	background: rgba(0, 108, 138);
	/* background-color: rgb(var(--color-surface-800));
	 */
	/* background: rgba(0, 108, 138, 0.5); */
	/* background: -webkit-linear-gradient(0deg, rgba(0, 108, 138, 0.5) 0%, rgba(0, 27, 72, 0.5) 100%);
	background: linear-gradient(0deg, rgba(0, 108, 138, 0.5) 0%, rgba(0, 27, 72, 0.75) 100%); */
}

/* Disable View Transitions */
/* :root {  view-transition-name: none} */
/* header {
	view-transition-name: 'header';
} */
/* @keyframes fade-in {
	from {
		opacity: 0;
	}
}
@keyframes fade-out {
	to {
		opacity: 0;
	}
} */
/* @keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}
@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
} */

/* :root::view-transition-old(root) {
	animation: 190ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		400ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
	animation: 510ms cubic-bezier(0, 0, 0.2, 1) 20ms both fade-in,
		500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */

/* .full-embed {
	view-transition-name: 'full-embed';
} */
